absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.5.2
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.2
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
boto3==1.28.44
botocore==1.31.44
branca==0.7.0
Brotli==1.1.0
CacheControl==0.13.1
cachetools==5.2.0
certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.3.2
chromedriver-autoinstaller==0.6.2
click==8.1.3
comm==0.1.4
contextlib2==21.6.0
contourpy==1.1.0
cryptography==41.0.4
cvlib==0.2.7
cycler==0.10.0
Cython==3.0.0
debugpy==1.6.7.post1
decorator==5.1.1
defusedxml==0.7.1
Django==3.1.14
djangorestframework==3.14.0
docker==6.0.1
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
Faker==19.3.1
fastjsonschema==2.18.0
filelock==3.12.2
fire==0.5.0
firebase-admin==6.2.0
Flask==2.2.3
Flask-Cors==4.0.0
flatbuffers==23.5.26
folium==0.15.0
fonttools==4.40.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.9.0
gast==0.4.0
gdown==4.7.1
geographiclib==2.0
geopy==2.4.0
gitdb==4.0.10
GitPython==3.1.36
google-api-core==2.11.1
google-api-python-client==2.100.0
google-auth==2.22.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-cloud-core==2.3.3
google-cloud-firestore==2.12.0
google-cloud-storage==2.11.0
google-cloud-translate==3.12.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
grpcio==1.58.0
grpcio-status==1.58.0
h11==0.14.0
h5py==3.9.0
httplib2==0.22.0
huggingface-hub==0.16.4
idna==3.4
imageio==2.31.1
importlib-metadata==6.5.1
importlib-resources==5.12.0
imutils==0.5.4
install==1.3.5
ipykernel==6.25.1
ipython==8.12.2
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonlines==4.0.0
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
keras==2.13.1
kiwisolver==1.4.4
libclang==16.0.6
lxml==4.9.3
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.3
matplotlib-inline==0.1.6
maturin==1.2.3
mistune==3.0.1
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
mutagen==1.47.0
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.2
nest-asyncio==1.5.7
networkx==3.1
nlpaug==1.1.11
notebook==7.0.2
notebook_shim==0.2.3
numpy==1.24.4
oauthlib==3.2.2
object-detection==0.0.3
openai==0.27.4
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
overrides==7.4.0
packaging==21.3
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
progressbar==2.5
prometheus-client==0.17.1
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==4.21.9
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybboxes==0.1.6
pycparser==2.21
pycryptodomex==3.18.0
Pygments==2.16.1
PyJWT==2.8.0
PyMySQL==1.1.0
pyparsing==2.4.7
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
roboflow==1.1.4
rpds-py==0.9.2
rsa==4.9
s3transfer==0.6.2
sacremoses==0.0.53
safetensors==0.3.3
sahi==0.11.14
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.12.2
selenium==4.8.2
Send2Trash==1.8.2
sentencepiece==0.1.99
shapely==2.0.1
simple-websocket-server==0.4.4
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.3.1
stack-data==0.6.2
supervision==0.14.0
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
termcolor==2.3.0
terminado==0.17.1
terminaltables==3.1.10
tf-slim==1.1.0
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.66.1
traitlets==5.9.0
transformers==4.33.2
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.5.0
tzdata==2023.3
ultralytics==8.0.180
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.0
uuid==1.30
wcwidth==0.2.6
webcolors==1.13
webdriver-manager==4.0.0
webencodings==0.5.1
websocket-client==1.4.2
websockets==11.0.3
Werkzeug==2.2.3
wget==3.2
widgetsnbextension==4.0.8
wrapt==1.15.0
wsproto==1.2.0
xlrd==2.0.1
yarl==1.9.1
yolov5==7.0.12
yt-dlp==2023.7.6
zipp==3.15.0
